.creditos {
	min-width: 900px !important;
	min-height: 900px !important;
}


.ntx-popupSingle-581-001 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 11;
    overflow: hidden;
    max-height: 100vh;
    max-width: 100%;
}

.no-csscalc .ntx-popupSingle-581-001 {
    position: fixed;
}

.ntx-popupSingle-581-001 .ntx-popupSingle-bg-overlay {
    background-color: #000;
    opacity: 0.89;
    background-position: right top;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
}

.ntx-popupSingle-581-001 .ntx-popupSingle-container-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-height: 100%;
    padding: 3.75rem 0.625rem;
    overflow: hidden;
}

.ntx-popupSingle-581-001 .ntx-popupSingle-container {
    z-index: 1;
    background-color: #FFF;
    border-bottom: 0.625rem solid green;
    padding: 0 0 2.5rem 0;
    position: relative;
    overflow-y: auto;
    max-height: 100%;
    /*max-width: 49.375rem;*/
    -webkit-box-shadow: 0px 0px 0.5rem 0.25rem rgba(0,0,0,0.4);
    box-shadow: 0px 0px 0.5rem 0.25rem rgba(0,0,0,0.4);
    margin-right: auto;
    margin-left: auto;
    -ms-transition: max-width 0.4s ease 0s;
    -webkit-transition: max-width 0.4s ease 0s;
    transition: max-width 0.4s ease 0s;
}

.ntx-popupSingle-581-001 .ntx-popupSingle-header {
    width: 100%;
    /*height: 3.75rem;*/
    background-color: #008FBE;
    position: relative;
    text-align: center;
}

.ntx-popupSingle-581-001 .ntx-popupSingle-header:after {
    content: "";
    position: absolute;
    width: 100%;
    /*height: 0.625rem;*/
    bottom: -0.625rem;
    background-color: green;
}

.ntx-popupSingle-581-001 a.ntx-popupSingle-close {
    position: absolute;
    z-index: 4;
    top: 0.625rem;
    right: 1.25rem;
    font-size: 0;
}

.ntx-popupSingle-581-001 a.ntx-popupSingle-close svg {
    width: 2.5rem;
    /*height: 2.5rem;*/
}

.ntx-popupSingle-581-001 .ntx-popupSingle-header p {
    margin: 0;
    padding: 0 5rem 0 1.25rem;
    font-size: 1.875rem;
    line-height: 3.75rem;
}

.ntx-popupSingle-581-001 .ntx-popupSingle-content-wrap {
    overflow: auto;
    margin-top: 3.125rem;
}

.ntx-popupSingle-581-001 .ntx-popupSingle-content {
    height: auto;
    /*max-height: 50vh;*/
    padding: 0 2.5rem 0 3.125rem;
}


@media only screen and (max-width: 48rem){
    .ntx-popupSingle-581-001 {
        width: 100%;
    }
    .ntx-popupSingle-581-001 .ntx-popupSingle-header{
        text-align: left;
        margin-left: 3.125rem;
    }
    .ntx-popupSingle-581-001 .ntx-popupSingle-content{
        padding-left: 3.125rem;
        padding-right: 3.125rem;
    }
    .ntx-popupSingle-581-001 .ntx-popupSingle-container-wrap{
        padding: 3.75rem 0px;
    }
}


.ntx-comp-hide .ntx-text-container{
    display: none;
}

.ntx-is-editing .ntx-text-container, .ntx-is-new-editing .ntx-text-container{
    min-height: 12px;
}


.ntx-text-573-001 .ntx-text-container > table{
    margin: 0;
}

.ntx-tooltip-581-001 img.nf-imagelink {
    width: auto !important;
}



.ntx-interface-581-001 .ntx-interface-info {
    width: 2.5rem;
    height: 100%;
    float: right;
    display: block;
    margin-left: 1.875rem;
}
.ntx-interface-581-001 .ntx-interface-link-index {
    width: 2.5rem;
    height: 100%;
    float: left;
    display: block;
}

.ntx-interface-581-001 .ntx-interface-link-index.hideIcon {
    display: none;
}

.ntx-interface-581-001 .ntx-interface-info a,
.ntx-interface-581-001 .ntx-interface-link-index a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}

.ntx-interface-581-001 .ntx-interface-info svg, .ntx-interface-581-001 .ntx-interface-link-index svg {
    margin-top: 0.625rem;
}

