/* // JBD 10.10.2019 ACORDEON - Creo el sistema de acordeón para los repositorios */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  width: 100%;
  background-color: #db9600;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  min-height: 38px;

  /* background-color: #eee; */
  /* color: #444; */
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  /* padding: 18px; */
  /* width: 100%; */
  /* text-align: left; */
  border: none;
  outline: none;
  transition: 0.8s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion .active,
.accordion:hover {
  /* background-color: rgb(204, 204, 204); */
  background-color: #f5b66a;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
